<h2><%= @employee.name %></h2>
<hr />		
<p>
	<label>Contacts</label><br />
	<%= @employee.contact %>
</p>

<p>
	<label>Avaliable for job</label><br />
	<% if @employee.search == true %>
		Avaliable
	<% else %>
		Busy
	<% end %>
</p>

<p>
	<label>Money rate</label><br />
	<%= @employee.salary %>
</p>

<p>
	<%= link_to 'Edit', edit_employee_path%> | 
	<%= link_to 'Back', employees_path %>
</p>

<hr />
<h4>Skills</h4>
<% @employee.skills.each do |skill| %>
<p>
	<%= skill.title %>
<% end %>

<hr/>

<h4>Add skill</h4>

<%= form_for([@employee, @employee.skills.build]) do |f| %>
	<%= f.text_field :title %>
<% end %>