<h2>Vacancies</h2>

<p>
	<%= link_to 'Add new vacancy', new_vacancy_path %>
</p>
	<table class="table table-bordered">
	 	<thead>
	 		<td><strong>Title:</strong></td>
	 		<td><strong>Vacancy added:</strong></td>
	 		<td><strong>Expiration:</strong></td>
	 		<td><strong>Salary:</strong></td>
	 		<td><strong>Contacts:</strong></td>
	 		<td><strong>Required skills:</strong></td>
	 	</thead>
		<% @vacancies.each do |vacancy| %>
	 	<tbody>
				<td>
					<%= vacancy.title %><br />
					<%= link_to 'Show', vacancy_path(vacancy) %> | 
					<%= link_to 'Delete', vacancy_path(vacancy), method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
				<td><%= vacancy.added %></td>
				<td><%= vacancy.expiration %></td>
				<td><%= vacancy.salary %></td>
				<td><%= vacancy.contacts %></td>
		</tbody>
<% end %>
</table>

